{% extends 'global/base.html' %}

{% block content %}
<section class="main-content">
    <h2 class="main-title">Histórico de {{ month_name }}</h2>
    <article class="main-container-month">
        <div class="month-grid">
            <h2>Domingo</h2>
            <h2>Segunda</h2>
            <h2>Terça</h2>
            <h2>Quarta</h2>
            <h2>Quinta</h2>
            <h2>Sexta</h2>
            <h2>Sabado</h2>
            {% for weekday in month %}
                {% for day in weekday %}
                    <div class="day-content">
                        {% if day != 0 %}
                            <p class="day-title">{{ day }}</p>
                        {% endif %}
                        <ul>
                            {% for historic in historics %}
                                {% if historic.date.day == day %}
                                    <li class="weekday-subject {{ historic.subject.color }}">
                                        <div class="subject-content">
                                            <div class="subject-title">
                                                {{ historic.subject }}
                                            </div>
                                            
                                            {% for content in historic.contents_studied.all %}
                                                <div class="list-content">
                                                    <span>●</span><p>{{ content }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </article>
</section>
{% endblock content %}