{% extends 'global/base.html' %}

{% block content %}
    <section class="main-content">
        <h2 class="main-title">{{ subject.name }}</h2>

        {% include 'global/partials/messages.html' %}

        <div class="main-form half-width">
            <form action="{% url 'studies:subject_update' subject.id %}" method="POST">
                {% csrf_token %}
                <div class="form-content form-content-grid">
                    {% for field in form %}
                    <div class="form-group {{ field.field.widget.attrs.class }}">
                        {{ field.label_tag }}

                        {{ field }}

                        <p class="help-text">{{ field.help_text }}</p>

                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="form-content form-content-grid">
                        <div class="form-group">
                            <button class="button-generic" type="submit">Editar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}