{% extends 'global/base.html' %}

{% block content %}
<section class="main-content">
    <h2 class="main-title">{{ weekday }}</h2>

    {% include 'global/partials/messages.html' %}

    {% if studies %}
        <p class="sub-title center">Salve aqui seus estudos diários</p>
        <ul class="main-container-studies">
            {% for study in studies %}
                <li class="subjects-contents {{ study.subject.color }} weekday-detail-study">
                    <div class="subject-content center">
                        <div class="subject-title">
                            {{ study.subject }}
                        </div>
                        
                        {% if study.start_time and study.end_time %}
                        <div class="subject-time">
                            {{ study.start_time }} - {{ study.end_time }}
                        </div>
                        {% elif study.start_time %}
                        <div class="subject-time">
                            {{ study.start_time }}
                        </div>
                        {% else %}
                        <div class="subject-time-hidden">
                            
                        </div>
                        {% endif %}
                    </div>
                    {% if study.subject.content_list.all %}
                        <form class="form-content form-weekday-study" action="{% url 'studies:historic_create' study.weekday %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="study" value="{{ study.id }}">

                            <div class="form-group-content select">
                                <label for="contents_studied">Conteúdos estudados:</label>
                                <select name="contents_studied" id="contents_studied" multiple size="{{ study.subject.content_list.all.count }}">
                                    {% for content in study.subject.content_list.all %}
                                        <option value="{{ content.id }}">{{ content }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group-content">
                                {{ form.date.label_tag }}

                                {{ form.date }}
                            </div>

                            <div class="form-group-content center">
                                <button class="button-generic" type="submit">salvar</button>
                            </div>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sub-title center">Você não possui estudos programados para esse dia...</p>
    {% endif %}
</section>
{% endblock content %}