{% extends 'global/base.html' %}

{% block content %}
<section class="main-content">
    <h2 class="main-title">{{ weekday }}</h2>
    <p class="sub-title center">Salve aqui seus estudos diários</p>
    <ul class="main-container-studies">
        {% for study in studies %}
            <li class="subjects-contents {{ study.subject.color }}">
                <div class="subject-content center">
                    <div class="subject-title">
                        {{ study.subject }}
                    </div>
                    
                    {% if study.start_time and study.end_time %}
                    <div class="subject-time">
                        {{ study.start_time }} - {{ study.end_time }}
                    </div>
                    {% elif study.start_time %}
                    <div class="subject-time">
                        {{ study.start_time }}
                    </div>
                    {% endif %}
                </div>
                {% if study.subject.content_list.all %}
                <div class="form-content">
                    {% for content in study.subject.content_list.all %}
                        <div class="content-item">
                            <label for="{{ content }}">
                                <input type="checkbox" name="{{ content }}" id="{{ content }}">
                                <span class="checkmark"></span>
                                {{ content }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group center">
                    <button class="button-generic" type="submit">salvar</button>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}