{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Organizer</title>
    <link rel="stylesheet" href="{% static 'studies/css/style.css' %}">
</head>
<body>
    <h1>Estudos</h1>
    <ul>
        <li>Domingo</li>
        {% for study in studies %}
            {% if study.weekday == 'Sunday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Segunda-feira</li>
        {% for study in studies %}
            {% if study.weekday == 'Monday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Terça-feira</li>
        {% for study in studies %}
            {% if study.weekday == 'Tuesday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Quarta-feira</li>
        {% for study in studies %}
            {% if study.weekday == 'Wednesday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Quinta-feira</li>
        {% for study in studies %}
            {% if study.weekday == 'Thursday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Sexta-feira</li>
        {% for study in studies %}
            {% if study.weekday == 'Friday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
        <li>Sábado</li>
        {% for study in studies %}
            {% if study.weekday == 'Saturday' %}
                <ul>
                    <li>{{ study.subject }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>