{% extends 'global/base.html' %}

{% block content %}
    <section class="main-content">
        <h1>Estudos</h1>

        <article class="main-buttons">
            <div class="new-study">
                <label class="button open-modal" for="modal-new-study">
                    <span class="material-symbols-outlined add">add</span>
                    <p>Novo estudo</p>
                </label>
                <input type="checkbox" id="modal-new-study" class="checkbox-modal">
                <div class="modal">
                    <label for="modal-new-study" class="close-modal">
                        <span class="material-symbols-outlined cancel">
                            close
                        </span>
                    </label>
                    <div class="content-modal">
                        <div class="main-form">
                            <form action="{% url 'studies:create_study' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-content form-content-grid">
                                    {% for field in form_study %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
            
                                        {{ field.errors }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="form-content form-content-grid">
                                    <div class="form-group">
                                        <button class="button-generic" type="submit">Adicionar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-subject">
                <label class="button open-modal" for="modal-new-subject">
                    <span class="material-symbols-outlined add">add</span>
                    <p>Novo assunto</p>
                </label>
                <input type="checkbox" id="modal-new-subject" class="checkbox-modal">
                <div class="modal">
                    <label for="modal-new-subject" class="close-modal">
                        <span class="material-symbols-outlined cancel">
                            close
                        </span>
                    </label>
                    <div class="content-modal">
                        <div class="main-form">
                            <form action="{% url 'studies:create_subject' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-content form-content-grid">
                                    {% for field in form_subject %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
            
                                        {{ field.errors }}
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="form-content form-content-grid">
                                    <div class="form-group">
                                        <button class="button-generic" type="submit">Adicionar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="main-week-studies">
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Domingo</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Sunday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Segunda</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Monday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Terça</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Tuesday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Quarta</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Wednesday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Quinta</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Thursday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Sexta</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Friday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="weekday">
                <div class="weekday-title">
                    <h2>Sábado</h2>
                </div>
                <div class="weekday-content">
                    {% for study in studies %}
                        {% if study.weekday == 'Saturday' %}
                            <ul>
                                <li class="{{ study.subject.color }}">
                                    {{ study.subject }} 
                                    <form class="form-delete inline" action="{% url 'studies:delete_study' study.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="id-subject">
                                        
                                        <button type="submit" class="link-danger plaintext-button"><span class="material-symbols-outlined">
                                            close
                                            </span></button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </article>

        <article class="main-subjects-list">
            <h3>Lista de assuntos</h3>
            <div class="subjects-grid">
                {% for subject in subjects %}
                <div class="subject-content {{ subject.color }}">
                    <ul>
                        <li>{{ subject.name }}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </article>

    </section>

{% endblock content %}
