{% extends 'global/base.html' %}

{% block content %}
<section class="main-content">
    <h2 class="main-title">Registrar-se</h2>

    {% include 'global/partials/messages.html' %}

    <article class="main-register">
        <div class="main-form">
            <form action="{% url 'accounts:register_create' %}" method="POST">
                {% csrf_token %}
                <div class="form-content form-content-grid">
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}

                        {{ field }}

                        <p class="help-text">{{ field.help_text }}</p>

                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="form-content form-content-grid">
                        <div class="form-group">
                            <button class="button-generic" type="submit">Registrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock content %}