.center {
    text-align: center;
}

.inline {
    display: inline;
}

.main-title {
    margin-bottom: 2rem;
}

/* Class containers */
.main-container {
    max-width: 120rem;
    margin: 0 auto;
}

.main-content {
    padding: 3rem;
}

.half-width {
    width: 50%;
    margin: auto;
}