* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    background: var(--ligth-gray);
}

h1 {
    font-family: 'Bree Serif', serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}