
@media (max-width: 1200px) {
    .modal .content-modal {
        width: 40%;
    }
}

@media (max-width: 830px) {
    .weekday {
        width: 18rem;
    }
    
    .main-week-studies {
        grid-template-columns: repeat(3, 1fr);
    }

    .modal .content-modal {
        width: 60%;
    }

    .main-subjects-list {
        width: 100%;
    }

    .subjects-grid ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .modal .content-modal {
        width: 80%;
    }
}
