@charset "UTF-8";

:root {
    --primary-color: #080099;
    --secundary-color: #FD5C63;
    --tertiary-color: #A5E2FF;
    --white-color: #FFFFFF;
    --ligth-gray: #E5E5E5;

    --border: .3rem;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1 {
    font-family: 'Bree Serif', serif;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Class containers */
.main-container {
    max-width: 120rem;
    margin: 0 auto;
}

.main-content {
    padding: 3rem;
    height: 88vh;
}

/* Header */
.main-header {
    background: var(--ligth-gray);
    padding: 2rem;
    box-shadow: 0 0 4px 1px;
}

.main-logo a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-logo span,
.main-logo h1{
    display: inline-block;
}

.main-logo span {
    font-size: 3.2rem;
}

.new-study span,
.new-study p {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
}

.new-study button{
    border: var(--border) solid var(--primary-color);
    background: var(--white-color);
    margin-bottom: 1rem;
    padding: .2rem;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
}

/* Week studies */
.main-content h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.main-week-studies {
    width: 100%;
    min-height: 30rem;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .6rem;
}

.weekday {
    border: var(--border) solid var(--primary-color);
}

.weekday-title {
    text-align: center;
    border-bottom: var(--border) solid var(--primary-color);
    padding: .5rem;
    background: var(--primary-color);
    color: var(--white-color);
}

.weekday:nth-child(1) .weekday-title,
.weekday:nth-child(7) .weekday-title {
    background: var(--secundary-color);
}

.weekday-title h2 {
    font-size: 1.8rem;
}

.weekday-content ul{
    list-style: none;
}

.weekday-content ul li{
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem;
    padding: .8rem;
    background: var(--tertiary-color);
}
