@charset "UTF-8";

:root {
    --primary-color: #080099;
    --secundary-color: #FD5C63;
    --tertiary-color: #A5E2FF;
    --white-color: #FFFFFF;
    --ligth-gray: #f1f1f1;

    --subject-color-green: #c1fcef; 
    --subject-color-blue: #c1eefc; 
    --subject-color-red: #fcc1c1; 
    --subject-color-yellow: #fcf8c1;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --border: .2rem;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1 {
    font-family: 'Bree Serif', serif;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

.inline {
    display: inline;
}

/* Class containers */
.main-container {
    max-width: 120rem;
    margin: 0 auto;
}

.main-content {
    padding: 3rem;
    /* height: 88vh; */
}

/* Header */
.main-header {
    background: var(--ligth-gray);
    padding: 2rem;
    box-shadow: 0 0 4px 1px;
}

.main-logo a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-logo span,
.main-logo h1{
    display: inline-block;
}

.main-logo span {
    font-size: 3.2rem;
}

/* Button generic */

.button-generic {
    border: var(--border) solid var(--primary-color);
    background: var(--white-color);
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: .5rem 1rem;
    transition: all 300ms ease-in-out;
}

.button-generic:hover {
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
}

.button-generic:focus {
    border: var(--border) solid var(--secundary-color);
}

/* Button New Study e new subject */

.main-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.new-study span,
.new-subject span,
.new-study p, 
.new-subject p {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 0rem 0.6rem;
}

.new-study p, 
.new-subject p {
    font-size: 1.3rem;
}

.new-study span, 
.new-subject span {
    border-right: 0.1rem solid var(--primary-color);
    transition: all 300ms ease-in-out;
}

.new-study .button,
.new-subject .button{
    border: var(--border) solid var(--primary-color);
    background: var(--white-color);
    margin-bottom: 1rem;
    cursor: pointer;
    width: 15.7rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.new-study .button:hover span, 
.new-subject .button:hover span {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Modal new study e subject */

.checkbox-modal {
    display: none;
}

#modal-new-study:checked + .modal{
    display: flex;
}

#modal-new-subject:checked + .modal{
    display: flex;
}

.modal {
    display: none;
    margin: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.452);
    z-index: 1;
}

.content-modal {
    position: relative;
}

.new-study .modal .close-modal {
    position: absolute;
    top: 1rem;
    right: 0;
}

.new-subject .modal .close-modal {
    position: absolute;
    top: 1rem;
    right: 0;
}

.modal .close-modal:hover span {
    cursor: pointer;
    color: var(--secundary-color);
}

.modal .content-modal {
    width: 30%;
    height: auto;
    background-color: var(--white-color);
    border: var(--border) solid var(--primary-color);
    overflow: auto;
}

.close-modal span {
    border: none;
    padding: none;
}

/* Forms */
.main-form {
    padding: 3rem;
}

.form-content-grid {
    display: flex;
    flex-flow: column nowrap;
}

.form-group{
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group select:required,
.form-group textarea:required,
.form-group input:required {
    border: var(--border) solid var(--primary-color);
}

.form-group select,
.form-group input, 
.form-group textarea {
    padding: .8rem;
    width: 100%;
    border: var(--border) solid lightgray;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.png) no-repeat center right;
    background-size: 3rem 3rem;
}

.form-group select:focus {
    border: var(--border) solid var(--secundary-color);
}

.form-group option {
    font-size: 1.5rem;
}

.errorlist {
    color: var(--color-error-dark);
    font-size: 1.6rem;
    margin-top: .5rem;
}

/* Messages Alerts */
.messages-container {
    display: flex;
    flex-flow: column wrap;
    gap: var(--gap);
    align-items: center;
}

.message {
    padding: 1rem;
    border-radius: .4rem;
    text-align: center;
    max-width: 30%;
    background: var(--ligth-gray);
    color: var(--primary-color);
}

.message-error {
    background: var(--subject-color-red);
}

.message-success {
    background: var(--subject-color-green);
}

.message-warning {
    background: var(--subject-color-yellow);
}

.message-alert {
    background: var(--color-alert-dark);
}

.message-info {
    background: var(--subject-color-blue);
}

.message-debug {
  background: var(--color-debug-dark);
}

/* Week studies */
.main-content h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.main-week-studies {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .6rem;
}

.weekday {
    border: var(--border) solid var(--primary-color);
    min-height: 30rem;
}

.weekday-title {
    text-align: center;
    border-bottom: var(--border) solid var(--primary-color);
    padding: .5rem;
    background: var(--primary-color);
    color: var(--white-color);
}

.weekday:nth-child(1) .weekday-title,
.weekday:nth-child(7) .weekday-title {
    background: var(--secundary-color);
}

.weekday-title h2 {
    font-size: 1.8rem;
}

.weekday-content {
    min-height: 20rem;
    text-transform: capitalize;
}

.weekday-content .subject-time{
    font-size: 1.2rem;
    padding-top: .5rem;
}

.weekday-content ul{
    list-style: none;
}

.weekday-content ul li{
    font-size: 1.6rem;
    text-align: center;
    margin: .5rem;
    padding: .8rem;
}

.weekday-subject {
    display: flex;
    flex-flow: column nowrap;
}

/* Form delete */
.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
}

.form-delete {
    display: inline;
}

.weekday-content li,
.subject-content li {
    position: relative;
}

.weekday-content li span,
.subject-content li span {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);

    position: absolute;
    top: 34%;
    right: .2rem;
    transition: all 300ms ease-in-out;
}

.weekday-content li:hover span,
.subject-content li:hover span {
    display: block;
}

/* Subjects colors */

.vermelho {
    background: var(--subject-color-red);
}

.azul {
    background: var(--subject-color-blue);
}

.verde {
    background: var(--subject-color-green);
}

.amarelo {
    background: var(--subject-color-yellow);
}

.subject-color option[value="azul"] {
    background-color: var(--subject-color-blue);
}

.subject-color option[value="verde"] {
    background-color: var(--subject-color-green);
}

.subject-color option[value="vermelho"] {
    background-color: var(--subject-color-red);
}

.subject-color option[value="amarelo"] {
    background-color: var(--subject-color-yellow);
}

/* Subjects list */

.main-subjects-list {
    width: 60%;
    margin: auto;
}

.main-subjects-list h3 {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.subjects-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.subject-content li{
    font-size: 1.6rem;
    text-align: center;
    padding: .8rem;
}

@media (max-width: 800px) {
    .main-week-studies {
        grid-template-columns: repeat(3, 1fr);
    }

    .modal .content-modal {
        width: 80%;
    }
}
