<aside class="main-header">
    <div class="main-container">
        <div class="main-logo">
            <a href="{% url 'studies:home' %}">
                <span class="material-symbols-outlined">
                    library_books
                </span>
                <h1>Study Organizer</h1>
            </a>
        </div>
        {% if user.is_authenticated %}
        <nav class="nav-user">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="user-dropdown" href="#" role="button">
                        <p>
                            Olá {{ request.user.username }}
                        </p>
                        <span class="material-symbols-outlined">
                            arrow_drop_down
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="logout-link" href="{% url 'accounts:logout' %}">Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>
</aside>