{% load static %}


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Study Organizer</title>
<link rel="shortcut icon" href="{% static 'global/img/library_books.ico' %}" type="image/x-icon">

<!-- CSS -->
<link rel="stylesheet" href="{% static 'global/css/variables.css' %}">
<link rel="stylesheet" href="{% static 'global/css/elements.css' %}">
<link rel="stylesheet" href="{% static 'global/css/classes.css' %}">
<link rel="stylesheet" href="{% static 'global/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/responsive.css' %}">

<!-- Google icons -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">